

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.goals {
    display: grid;
    height: 45vh;
    margin: 20px;
    border: 1px solid;
    padding: 20px;

    svg {
        height: 15vh;
        fill: #fff;
    }

    .byline {
        width: 70%;
    }
}