* {
  padding: 0;
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  background-color: #252525;
}

.goals {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 25% auto;
      grid-template-rows: 50% 25% auto;
  height: 45vh;
  margin: 20px;
  padding: 20px;
}

.goals svg {
  height: 20vh;
  fill: #fff;
  margin: auto;
}

.goals .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto;
      grid-template-columns: 5% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5vw;
}

.goals .title {
  margin-left: 15px;
}

.goals .byline {
  font-size: 1vw;
  color: #fff;
  width: 80%;
}

@media screen and (max-width: 600px) {
  body {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .goals svg {
    height: 30vw;
  }
  .goals .header {
    font-size: 4.5vw;
  }
  .goals .byline {
    font-size: 4vw;
  }
}
